section {
  --col-orange: #E3001B;
  --col-dark: #ffffff;
  --col-darkGray: #52555a;
  --col-gray: #aeaeae;

  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--col-dark);
  border-radius: 40px; /* Incrementa el radio */
  margin-top: 25px;
  box-shadow: 0 8px 12px rgba(32, 31, 31, 0.7); /* Ajusta la sombra */
  z-index: 6000;

  /* Centrando la barra */
  position: fixed;
  bottom: 30px; /* Mayor distancia desde el fondo */
  left: 50%;
  transform: translateX(-50%);
}

.label {
  padding: 12px 24px; /* Incrementa el espaciado interno */
  transition: all 200ms;
  display: inline-block;
}

.label > svg {
  transition: all 200ms;
  fill: var(--col-gray);
  width: 24px; /* Incrementa el tamaño del ícono */
  height: 24px; /* Ajusta la altura */
}

.label:hover:not(:has(input:checked)) > svg {
  fill: #E3001B;
  cursor: pointer;
}

.label::before {
  content: "";
  display: block;
  width: 0%;
  height: 3px; /* Incrementa el grosor de la línea */
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: 28px;
  background: var(--col-orange);
  transition: all 200ms;
}

.label > svg {
  transition: 300ms;
  fill: var(--col-darkGray);
  margin-top: 0;
}

.label:has(input:checked) > svg {
  fill: var(--col-orange);
  scale: 1.4; /* Escala mayor para íconos seleccionados */
  margin-top: -8px;
}

.label:has(input:checked)::before {
  width: 100%;
  left: 0;
  top: 35px;
}
