@if (activedLoader){
    <div class="center">
        <div class="spinner">
          <div class="spinner1"></div>
        </div>
      </div>
      
}@else{
  <h1 data-aos="fade-left" class="display-4 fst-italic text-center mt-1">
    <span class="custom-name" style="font-weight: 600;">EVENTOS </span>
</h1>
<ngb-carousel data-aos="fade-left">
@for (evento of eventosB; track evento) {
          
            
            
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img [src]="evento.image" alt="" class="carousel-img" />
                  
                </div>
                <div class="carousel-caption">
                  <h2 class="text-white">{{evento.name}}</h2>
                  <!-- Renderizar HTML desde JSON -->
                  <p class="text-white" [innerHTML]="evento.description"></p>
                </div>
              </ng-template>
               
              
              
        }
   </ngb-carousel>
}