@if (activedLoader){
<div class="center">
	<div class="spinner">
		<div class="spinner1"></div>
	</div>
</div>
}@else{

<h1  class="display-4 fst-italic text-center fixed-title">
	<span class="custom-name text-white" style="font-weight: 600;">NOTICIAS</span>
</h1>
<ngb-carousel (slide)="onCarouselSlideChanged($event)">
	@for (noticia of noticias; track noticia) {
	<ng-template ngbSlide>
		<div class="row custom-container container-fluid" >
			<div class="col-md-6 mb-3 mb-md-0 custom-img">
				<img 
              appLazyLoad 
              [imageUrl]="noticia.image" 
              [placeholderImage]="placeholderImage" 
              alt="{{ noticia.name }}">
			</div>
			<div class="col-md-6">
				<h1 class="h2 text-light">{{noticia.name}}</h1>
				<div class="mb-3">
					<p class="btn btn-outline-light me-2">Provincia: {{noticia.addressRegion}}</p>
					<p class="btn btn-outline-light me-2">Localidad: {{noticia.addressLocality}}</p>
					<p href="tel:123456789" class="btn btn-outline-light me-2">Idioma📞: {{noticia.availableLanguage}}
					</p>
				</div>
				<div class="fw-bold container-fluid">
					<p class="text-white" [innerHTML]="noticia.description"></p>
				</div>
			</div>
		</div>
	</ng-template>

	}
</ngb-carousel>
}