@if (activedLoader) {
    <div class="loader-container">
	
		<div class="loader">
			<div style="--i:1" class="loader_item"></div>
			<div style="--i:2" class="loader_item"></div>
			<div style="--i:3" class="loader_item"></div>
			<div style="--i:4" class="loader_item"></div>
			<div style="--i:5" class="loader_item"></div>
			<div style="--i:6" class="loader_item"></div>
			<div style="--i:7" class="loader_item"></div>
			<div style="--i:8" class="loader_item"></div>
			<div style="--i:9" class="loader_item"></div>
			<div style="--i:10" class="loader_item"></div>
			<div style="--i:11" class="loader_item"></div>
			<div style="--i:12" class="loader_item"></div>
		</div>
	
	</div>
}@else {
    <h1 class="display-4 fst-italic text-center mt-4" >
        <span class="custom-name" style="font-weight: 600;">FAVORITOS </span>
        
    </h1>
    <div class="card-container" data-aos="fade-up">
       
        
        
        <div class="card ">
            <div class="card_form">
              <span>(Topic)</span>
            </div>
            <div class="card_data">
              <div style="display: flex" class="data">
                <div class="text">
                  <label class="text_m">Main Title</label>
                  <div class="cube text_s">
                    <label class="side front">Access the list (Topic)</label>
                    <label class="side top">Username-id</label>
                  </div>
                </div>
              </div>
              <span title="Acceder a la lista (Temas)">Access</span>
            </div>
          </div>
          
          <div class="card">
            <div class="card_form">
              <span>(Topic)</span>
            </div>
            <div class="card_data">
              <div style="display: flex" class="data">
                <div class="text">
                  <label class="text_m">Main Title</label>
                  <div class="cube text_s">
                    <label class="side front">Access the list (Topic)</label>
                    <label class="side top">Username-id</label>
                  </div>
                </div>
              </div>
              <span title="Acceder a la lista (Temas)">Access</span>
            </div>
          </div>
          <div class="card">
            <div class="card_form">
              <span>(Topic)</span>
            </div>
            <div class="card_data">
              <div style="display: flex" class="data">
                <div class="text">
                  <label class="text_m">Main Title</label>
                  <div class="cube text_s">
                    <label class="side front">Access the list (Topic)</label>
                    <label class="side top">Username-id</label>
                  </div>
                </div>
              </div>
              <span title="Acceder a la lista (Temas)">Access</span>
            </div>
          </div>
          <div class="card">
            <div class="card_form">
              <span>(Topic)</span>
            </div>
            <div class="card_data">
              <div style="display: flex" class="data">
                <div class="text">
                  <label class="text_m">Main Title</label>
                  <div class="cube text_s">
                    <label class="side front">Access the list (Topic)</label>
                    <label class="side top">Username-id</label>
                  </div>
                </div>
              </div>
              <span title="Acceder a la lista (Temas)">Access</span>
            </div>
          </div>
          <div class="card">
            <div class="card_form">
              <span>(Topic)</span>
            </div>
            <div class="card_data">
              <div style="display: flex" class="data">
                <div class="text">
                  <label class="text_m">Main Title</label>
                  <div class="cube text_s">
                    <label class="side front">Access the list (Topic)</label>
                    <label class="side top">Username-id</label>
                  </div>
                </div>
              </div>
              <span title="Acceder a la lista (Temas)">Access</span>
            </div>
          </div>
          <div class="card">
            <div class="card_form">
              <span>(Topic)</span>
            </div>
            <div class="card_data">
              <div style="display: flex" class="data">
                <div class="text">
                  <label class="text_m">Main Title</label>
                  <div class="cube text_s">
                    <label class="side front">Access the list (Topic)</label>
                    <label class="side top">Username-id</label>
                  </div>
                </div>
              </div>
              <span title="Acceder a la lista (Temas)">Access</span>
            </div>
          </div>
    </div>
    
}



  