/* Estilo global del carrusel */
ngb-carousel {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/* Contenedor del carrusel */
.ngb-carousel .carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  position: relative;
}

/* Estilo del contenedor de la imagen */
.picsum-img-wrapper {
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
  height: 600px;  /* Tamaño fijo para las imágenes */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para las imágenes dentro del carrusel */
.picsum-img-wrapper img {
  width: 90%;           /* Asegura que las imágenes se ajusten al ancho del contenedor */
  height: 90%;         /* Establece una altura fija */
  object-fit: cover;     /* Mantiene la proporción, recorta la imagen si es necesario */
  border-radius: 30px;
  margin-left: 15%;
}

/* Efecto hover en las imágenes del carrusel */
.ngb-carousel .carousel-item img:hover {
  transform: scale(1.05);
}

/* Estilo del texto de la imagen */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
}

/* Estilo del título en la leyenda */
.carousel-caption h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 .125rem .25rem rgba(255, 255, 255, 0.9);
}

/* Estilo de los enlaces dentro del carrusel */
.ngb-carousel a {
  display: block;
  text-decoration: none;
}
.custom-img {
  width: 35%; /* Ocupa todo el ancho del contenedor */
  height: 500px; /* Fija la altura deseada */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-left: 50px;
}

.custom-img img {
  width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
  height: 100%; /* Asegura que la imagen se ajuste a la altura del contenedor */
  object-fit: cover; 
  border-radius: 30px;
}
