@if (activedLoader){
	<div class="loader-container">
	  <div class="loader">
		<div style="--i:1" class="loader_item"></div>
		<div style="--i:2" class="loader_item"></div>
		<div style="--i:3" class="loader_item"></div>
		<div style="--i:4" class="loader_item"></div>
		<div style="--i:5" class="loader_item"></div>
		<div style="--i:6" class="loader_item"></div>
		<div style="--i:7" class="loader_item"></div>
		<div style="--i:8" class="loader_item"></div>
		<div style="--i:9" class="loader_item"></div>
		<div style="--i:10" class="loader_item"></div>
		<div style="--i:11" class="loader_item"></div>
		<div style="--i:12" class="loader_item"></div>
	  </div>
	</div>
  } @else {
	<h1 data-aos="fade-left" class="display-4 fst-italic text-center mt-1">
	  <span class="custom-name text-white" style="font-weight: 600;">RUTAS</span>
	</h1>
  
	<!-- Solo un ngb-carousel para todas las rutas -->
	<ngb-carousel data-aos="fade-left">
	  @for (ruta of rutas; track ruta) {
		<ng-template ngbSlide>
		  <div class="picsum-img-wrapper">
			<img [src]="ruta.image" alt="" class="carousel-img" />
			
		  </div>
		  <div class="carousel-caption">
			<h2 class="text-white">{{ruta.name}}</h2>
			<p class="text-white" [innerHTML]="ruta.description"></p>
		  </div>
		</ng-template>
	  }
	</ngb-carousel>
  }
  