/* Estilos generales */
.custom-img {
  width: 550px; /* La imagen ocupa la mitad de la página */
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra para resaltar la imagen */
}

.custom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.custom-container {
  margin-top: 80px;
  color: white; /* Cambio de color de texto a blanco */
}

.fixed-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.585); /* Fondo rojo con opacidad */
  color: white;
  padding: 15px;
  z-index: 10;
  text-align: center;
  font-size: 1.5rem;
}

/* Grid para la disposición de la imagen y la información */
.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* La imagen y la información ocupan el mismo espacio */
  gap: 10px; /* Espacio entre la imagen y la información */
  align-items: flex-start; /* Alineación superior */
  padding: 10px;
}

.info-item {
  margin-bottom: 15px;
}

.info-item h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: white; /* Asegurar que el título sea blanco */
}

.info-item p {
  font-size: 1rem;
  color: white; /* Texto en blanco */
}

.description {
  padding-top: 20px;
}

#map-container {
  position: relative;
  width: 50%;
  height: 150px; /* Ajustamos el tamaño del mapa a algo más pequeño */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  overflow: hidden;
  margin-bottom: 100px;
}

#map {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr; /* En pantallas pequeñas, la imagen y la información se apilan */
  }

  .custom-img {
    height: 200px;
    width: 100%;
  }

  .custom-container {
    padding: 15px;
  }
}
