<h1 class="display-4 fst-italic text-center fixed-title">
  <span class="custom-name text-white" style="font-weight: 600;">PUNTO DE INTERES</span>
</h1>

@if (poi) {
<div class="container-fluid custom-container">
  <div class="info-grid">
    <!-- Columna para la imagen -->
  
    <div class="custom-img">
      <img appLazyLoad [imageUrl]="poi.image" [placeholderImage]="placeholderImage"
        alt="{{ poi.name }}">


    </div>

    <div class="info-column">
      <div class="info-item">
        <h2>{{poi.name}}</h2>
      </div>

      <!-- Localidad -->
      <div class="info-item">
        <p><strong>Localidad:</strong> {{poi.addressLocality}}</p>
      </div>

      <!-- Calle -->
      <div class="info-item">
        <p><strong>Calle:</strong> {{poi.addressProvince}}</p>
      </div>

      <!-- Mapa -->
      

      <!-- Descripción del POI -->
      <div class="info-item description">
        <p [innerHTML]="poi.description"></p>
      </div>

      <div class="info-item" id="map-container">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
}