.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  width: 100%; 
  max-width: 1200px; 
  justify-content: center; 
  align-content: center;  
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}


/* Categoría individual */
.category {
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    margin: 10px;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 3px solid rgba(253, 253, 253, 0.986);
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}

/* Efecto hover */
.category:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.671);
}
.text-center{
  text-decoration: none !important;
}
/* Estilo de los iconos y texto dentro de cada categoría */
.category p, .category .icon, .category .svg-inline--fa {
    color: #FFFFFF;
    margin-top: 10px; 
    font-weight: 700; 
    color: #FFFFFF; 
    text-decoration: none !important;
}

.category .icon {
    font-size: 40px; 
}

.category a {
  text-decoration: none !important;
    color: inherit;
}

/* Estilos personalizados para los nombres */
.custom-name {
    font-size: 1em;
    font-weight: bold;
    color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 2px #ffffff;
    margin-left: 40px;
}


.category a {
  text-decoration: none !important; 
  color: inherit !important; 
}

.category p, .category .icon, .category .svg-inline--fa {
  text-decoration: none !important; 
  color: #FFFFFF !important; 
  font-weight: 700; 
}

.custom-name, .custom-othername {
  font-weight: bold;
  text-decoration: none !important; 
}

.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #4facfe5d 0%, #fe15005b 100%);
  border-radius: 30px; /* Reducir el radio de las esquinas */
  padding: 10px; /* Reducir el padding */
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reducir la sombra */
  position: absolute; /* Para posicionarlo en la esquina */
  top: 570px; /* Espaciado desde la parte superior */
  left: 30px; /* Espaciado desde la parte izquierda */
  width: 160px; /* Establecer un ancho fijo */
  z-index: 1000; /* Asegurar que esté encima de otros elementos */

}

.weather-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Reducir margen inferior */
}

.weather-icon img {
  width: 40px; /* Reducir el tamaño del icono */
  height: 40px;
}

.weather-details {
  margin-left: 5px; /* Reducir margen izquierdo */
}

.weather-description {
  font-size: 1em; /* Reducir tamaño de fuente */
  margin: 0;
}

.weather-temperature {
  font-size: 1.5em; /* Reducir tamaño de fuente */
  font-weight: bold;
  margin: 0;
}

.date-time {
  text-align: center;
}

.date, .time {
  margin: 0;
  font-size: 1em; /* Reducir tamaño de fuente */
}

.button-group{
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .weather-widget {
    top: 800px !important;
    left: 250px;
    width: 140px;
  }

  .custom-cont {
    margin-bottom: 500px !important;
  }

  .category{
    width: 165px;
    height: 165px;
  }
  .img{
    width: 50% !important;
    height: 50% !important;
  }
  .text-center .p{
    size: 10px !important;
  }
}



/* Contenedor del control de volumen */
.volume-container {
  position: fixed;
  left: 20px; 
  top: 40%; 
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 75px; 
  z-index: 1000;
}

/* Estilos del input range */
#volumeRange {
  --slider-width: 150px; 
  --slider-height: 10px; 
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 5px;
  --level-color: #fff;
  --level-transition-duration: 0.1s;

  -webkit-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  border-radius: var(--slider-border-radius);
  overflow: hidden;
  cursor: pointer;
  transform: rotate(-90deg); 
}

#volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  box-shadow: -150px 0 0 150px var(--level-color);
}

#volumeRange::-moz-range-thumb {
  width: 0;
  height: 0;
  border-radius: 0;
  border: none;
  box-shadow: -150px 0 0 150px var(--level-color);
}

/* Estilo del ícono de volumen */
.fa-volume-low {
  font-size: 30px; /* Ajustar tamaño */
  color: var(--slider-bg);
  margin-left: 10px; /* Espaciado respecto al slider */
}

/* Ocultar en dispositivos móviles */
@media screen and (max-width: 768px) {
  .volume-container {
    display: none;
  }
}

