<h1  class="display-4 fst-italic text-center fixed-title ">
    <span class="custom-name text-white" style="font-weight: 600;">COMERCIO LOCAL</span>
  </h1>

@if (empresa) {
    <div class="row container-fluid custom-container">
      <div class="col-md-6 mb-3 mb-md-0 custom-img">
        <img 
        appLazyLoad 
        [imageUrl]="empresa.image" 
        [placeholderImage]="placeholderImage" 
        alt="{{ empresa.name }}">
      </div>
      <div class="col-md-6">
        <h1 class="h2 text-light">{{empresa.name}}</h1>
        <div class="mb-3">
          <p class="btn btn-outline-light me-2">Localidad: {{empresa.addressLocality}}</p>
          <p class="btn btn-outline-light me-2">Calle: {{empresa.addressProvince}}</p>
        </div>
        <div class="fw-bold container-fluid">
          <p class="text-white" [innerHTML]="empresa.description"></p>
        </div>
        <div class="info-item" id="map-container">
          <div id="map"></div>
        </div>
      </div>
    </div>
  }