/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: linear-gradient(to right, #530889, #1d2222);
    background-size: 400% 400%; /* Aumenta el área del gradiente para que se desplace */
    animation: gradientAnimation 10s ease infinite; /* Aplicar la animación */
}

/* Definir la animación */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}


/* Centro el spinner */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100vw; /* Ocupa toda la anchura de la pantalla */
  background-color: #00000067; /* Fondo opcional para resaltar el spinner */
  margin: 0;
}

/* Estilo del spinner */
.spinner {
  background-image: linear-gradient(#530889, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px #530889, 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
