
/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: linear-gradient(to right, #008F4D, #1d2222), 
    linear-gradient(to left, yellow, #E3001B);
background-size: 400% 400%; /* Aumenta el área del gradiente para que se desplace */
    animation: gradientAnimation 10s ease infinite; /* Aplicar la animación */
}

/* Definir la animación */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}


/* Centro el spinner */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100vw; /* Ocupa toda la anchura de la pantalla */
  background-color: #ffffff00; /* Fondo opcional para resaltar el spinner */
  margin: 0;
}

/* Estilo del spinner */
.spinner {
  background-image: linear-gradient(#ffffff00, #E3001B);
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px #E3001B, 0px 5px 20px 0px rgb(3, 4, 4);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-name {
  font-size: 1em;
  font-weight: bold;
  color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-text-stroke: 2px #ffffff;
}