@if (activedLoader){
    <div class="center">
        <div class="spinner">
          <div class="spinner1"></div>
        </div>
      </div>
      
}@else{
    <h1 data-aos="fade-left" class="display-4 fst-italic text-center mt-1">
        <span class="custom-name" style="font-weight: 600;">EVENTOS </span>
    </h1>
    
    <ngb-carousel data-aos="fade-left">
        @for (evento of eventos; track evento.id) {
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper text-center">
                    @if (evento.imgEvento.startsWith('http')) {
                        <img [src]="evento.imgEvento" alt="{{ evento.titulo }}" />
                    } @else {
                        <img [src]="'http://localhost:8080/files/' + evento.imgEvento" alt="{{ evento.titulo }}" />
                    }
                </div>
                <div class="carousel-caption">
                    <h2>{{evento.titulo}}</h2>
                    <p>{{evento.contenido}}</p>
                </div>
            </ng-template>
        }
    </ngb-carousel>
}