@if (activedLoader){
    <div class="loader-container">
        <div class="loader">
            <div style="--i:1" class="loader_item"></div>
            <div style="--i:2" class="loader_item"></div>
            <div style="--i:3" class="loader_item"></div>
            <div style="--i:4" class="loader_item"></div>
            <div style="--i:5" class="loader_item"></div>
            <div style="--i:6" class="loader_item"></div>
            <div style="--i:7" class="loader_item"></div>
            <div style="--i:8" class="loader_item"></div>
            <div style="--i:9" class="loader_item"></div>
            <div style="--i:10" class="loader_item"></div>
            <div style="--i:11" class="loader_item"></div>
            <div style="--i:12" class="loader_item"></div>
        </div>
    </div>
}@else{
    <h1 data-aos="fade-left" class="display-4 fst-italic text-center mt-1">
        <span class="custom-name" style="font-weight: 600;">EVENTOS </span>
    </h1>
    
    <ngb-carousel data-aos="fade-left">
        @for (evento of eventos; track evento.id) {
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper text-center">
                    @if (evento.imgEvento.startsWith('http')) {
                        <img [src]="evento.imgEvento" alt="{{ evento.titulo }}" />
                    } @else {
                        <img [src]="'http://localhost:8080/files/' + evento.imgEvento" alt="{{ evento.titulo }}" />
                    }
                </div>
                <div class="carousel-caption">
                    <h2>{{evento.titulo}}</h2>
                    <p>{{evento.contenido}}</p>
                </div>
            </ng-template>
        }
    </ngb-carousel>
}